/*
 * PARAGRAPHS
 */

p {
    margin-bottom: 1em;

    a {
        color: $primary;
        text-decoration: underline;

        &:hover {
            color: $primary;
            text-decoration: underline;
        }
    }

    small {

        a {
            font-size: 1em;
        }
    }
    em{
        color: $primary;
    }
}

