/*
 * TEXT
 */

.text-container {
  > *:last-child {
    margin-bottom: 0;
  }
}

.text-left {
  text-align: left;

  @each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
      &-#{$bp} {
        text-align: left;
      }
    }
  }
}

.text-right {
  text-align: right;

  @each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
      &-#{$bp} {
        text-align: right;
      }
    }
  }
}

.text-center {
  text-align: center;

  @each $bp in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($bp) {
      &-#{$bp} {
        text-align: center;
      }
    }
  }
}