/*
 * BUTTONS
 */

.c-button {
    display: inline-block;
    padding: .625em 1.125em;
    background-color: $white;
    transition: all .3s ease;
    font-weight: bold;
    color: $dark;
    text-decoration: none;

    &:hover {
        background-color: lighten($light, 5%);
        text-decoration: none;
        color: $dark;
    }
}

.c-button-primary {
    background-color: $primary;
    color: white;

    &:hover {
        background-color: lighten($primary, 5%);
        color: white;
    }
}

.c-button-secondary {
    background-color: $secondary;
    color: $white;

    &:hover {
        background-color: lighten($secondary, 5%);
        color: $white;
    }
}

.c-button-tertiary {
    background-color: $tertiary;
    color: $white;

    &:hover {
        background-color: lighten($tertiary, 5%);
        color: $white;
    }
}