.c-footer{
  .c-footer-logo{
    height:160px;
    width:auto;
  }

  a{
    font-weight:bold;
    color: $medium;
    font-family: $title-font-family;
    font-size: 1.15rem;

    .c-footer-item1{
      color: $tertiary;
    }

    .c-footer-item2{
       color: $quarternary;
     }

    .c-footer-item3{
      color: $dark;
    }
  }
}