.c-header {
  background-color: $primary;
  position: relative;
  overflow: hidden;

  .c-header-logo {
    position: absolute;
    display: block;
    z-index: 1;

    height: 100px;
    width: auto;
    left: 10px;

    @include media-breakpoint-up(md) {
      left: 50px;
      height: 160px;
      width: auto;
    }
  }

  .c-header-watermerk {
    position: absolute;
    right: -100px;
    height: 200px;
    bottom: 0;
    width: auto;
    display: block;
    z-index: 2;
    @include media-breakpoint-up(lg) {
      left: 200px;
      height: 200px;
      width: auto;
    }
    @include media-breakpoint-up(xl) {
      left: 350px;
      height: 264px;
      width: auto;
    }
  }

  .c-header-images {
    width: 100%;
    height: auto;

    @include media-breakpoint-up(lg) {
      flex: 0 0 45%;
      width: 45%;
      height: auto;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 35%;
      width: 35%;
      height: auto;
    }

    position: relative;
    display: block;

    .c-header-image {
      width: 100%;
      height: auto;
    }

  }

  .c-header-content {
    position: relative;
    width: 100%;
    color: #FFFFFF;
  }

  .c-header-content-copy {
    p {
      font-size: 1.15em;
      line-height: 2;
    }

    h1 {
      margin-left: 0;
      max-width: 100%;
    }

    padding: 0px 50px 100px 50px;
    margin-top:-100px;

    @include media-breakpoint-up(lg) {
      margin-top:50px;
      padding: 50px 30px;
      h1 {
        margin-left: -100px;
        max-width: 100%;
      }
    }

    @include media-breakpoint-up(xl) {
      padding: 150px 100px;
      h1 {
        margin-left: -230px;
        max-width: 100%;
      }
    }

  }
}

// PORTFOLIO HEADER

.c-header-portfolio {
  position: relative;
  .c-header-portfolio-block{
    height: 450px;
    background-color: $primary;
  }

  .c-header-portfolio-images {
    position: relative;
    margin-top:-300px;
    width:100%;

    .c-header-portfolio-image {
      width: auto;
      height: 450px;
      display:block;
    }

  }
}