.c-nav {
  position:absolute;
  a {
    color: #FFFFFF;
    .c-nav-text {
      border-bottom: 2px solid $primary;
      padding-bottom: 10px;
      transition: all 0.3s ease-out;
      &.active{
        border-bottom: 2px solid #FFFFFF;
      }
    }
    &:hover {
      .c-nav-text {
        border-bottom: 2px solid #FFFFFF;
      }
    }
  }

  .c-nav-logo {
    position: absolute;
    display: block;
    z-index: 1;

    height: 100px;
    width: auto;
    left: 10px;

    @include media-breakpoint-up(md) {
      left: 50px;
      height: 160px;
      width: auto;
    }
  }

  position: relative;
  top: 0;
  right: 0;
  width:100%;
  z-index:1;
}

body.is-open{
  overflow: hidden;
  padding: 0;
  margin:0;
}

.c-nav.is-open{
  background-color: $primary;
  width: 100vw;
  height:100vh;
  top:0;
  position: fixed;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  dispay:flex;
  align-items:center;
  overflow-y: scroll;
}

.c-nav-menu{
  @include media-breakpoint-up(lg){
    position:absolute;
    top:0;
    right:10px;
  }
}

.c-nav-menu.is-open{
  position:fixed;
  top:100px;
  z-index: 200;
  color: $white;
  display:flex !important;
  width:100%;
  height:100%;
  align-items: center;
  font-size: $base-font-size-max * 1.5;
  line-height: $base-line-height *1.5;

  overflow-y: scroll;
}

.c-nav-toggle-wrap {
  position: fixed;
  right:10px;
  top:0;
  margin: 10px auto;
  padding:10px;
  background-color: $primary;
}

.c-nav-toggle {
  width: 30px;
  height: 25px;
  z-index:100;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2), span:nth-child(3) {
    top: 10px;
  }

  span:nth-child(4) {
    top: 20px;
  }

  &.is-open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  &.is-open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.is-open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.is-open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}