/*
 * SETTINGS
 */

// GRID
$spacer: 1rem !default;
$spacers: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
                (
                        0: 0,
                        1: ($spacer * .25),
                        2: ($spacer * .5),
                        3: $spacer,
                        4: ($spacer * 1.5),
                        5: ($spacer * 3),
                        6: ($spacer * 4)
                ),
                $spacers
);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge(
                (
                        25: 25%,
                        50: 50%,
                        75: 75%,
                        100: 100%,
                        auto: auto
                ),
                $sizes
);

$grid-breakpoints: () !default;
$grid-breakpoints: map-merge(
                (
                        xs: 0,
                        sm: 576px,
                        md: 768px,
                        lg: 992px,
                        xl: 1200px
                ),
                $grid-breakpoints
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: () !default;
$container-max-widths: map-merge(
                (
                        sm: 540px,
                        md: 720px,
                        lg: 960px,
                        xl: 1140px
                ),
                $container-max-widths
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$enable-grid-classes: true !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

// COLORS
$primary: #0B69A5;
$secondary: #EAEFF2;
$tertiary: #F3B33F;
$quarternary: #E3672A;

$black: #000000;
$dark: #042F4E;
$medium: #8197A6;
$grey: #BFBFBF;
$light: #eeeeee; // rgba(238, 238, 238, 1)
$white: #ffffff;

// BORDER RADIUS
$border-radius: 3px;

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans:600');

$main-font-family: 'Noto Serif', serif;
$title-font-family: 'Open Sans', sans-serif;

$base-font-family: $main-font-family;
$base-font-size-min: .85rem;
$base-font-size-max: 1rem;
$base-font-weight: normal;
$base-line-height: 2;
$base-color: $dark;

$h1-font-family: $title-font-family;
$h1-font-size-min: 2.15rem;
$h1-font-size-max: 2.6rem;
$h1-font-weight: bold;
$h1-line-height: 1.8;
$h1-color: $white;

$h2-font-family: $title-font-family;
$h2-font-size-min: 2rem;
$h2-font-size-max: 2.25rem;
$h2-font-weight: 500;
$h2-line-height: 1.4;
$h2-color: $primary;

$h3-font-family: $title-font-family;
$h3-font-size-min: 1.50rem;
$h3-font-size-max: 1.85rem;
$h3-font-weight: 400;
$h3-line-height: 1.4;
$h3-color: $primary;

$h4-font-family: $title-font-family;
$h4-font-size-min: 1.15rem;
$h4-font-size-max: 1.375rem;
$h4-font-weight: 400;
$h4-line-height: 1.4;
$h4-color: $dark;

$h5-font-family: $title-font-family;
$h5-font-size-min: 1.15rem;
$h5-font-size-max: 1.375rem;
$h5-font-weight: 400;
$h5-line-height: 1.4;
$h5-color: $dark;

$h6-font-family: $title-font-family;
$h6-font-size-min: 1.15rem;
$h6-font-size-max: 1.4rem;
$h6-font-weight: 400;
$h6-line-height: 1.375;
$h6-color: $dark;
